* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: #c55638;
}

body {
    background-color: rgb(250, 240, 228);
    overflow: hidden;
}

.btn-default {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9643f;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.397);
    transition: background-color .4s ease;
    transition: color .3s ease-in;
}

.btn-default:hover {
    background-color: #c55638;
    color: #ffffff;
    cursor: pointer;
}